html, body{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body{
    background: hsl(233, 47%, 7%);
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
}

#card{
    display: flex;
    flex-direction: column;
    background: hsl(244, 38%, 16%);
    padding: 0;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
    margin: 12px;
}

.img-desktop{
    display: none;  
}

.img-mobile{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
}

.cardtxt{
    margin: 0 25px;
}

.stats{
    display: flex;
    flex-direction: column;
}

h2{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 2em;
}

p{
    line-height: 180%;
}

p.stattxt{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: initial;
}

.highlight{
    color:hsl(277, 64%, 61%);
}

.statheadings{
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 100;
    display: block;
    padding-top: 7px;
}

.attribution{ 
    font-size: 11px; 
    text-align: center;
    padding-top: 50px; 
}

.attribution a{ 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 1024px) {
    #card{
        flex-direction: row-reverse;
        text-align: left;
        max-width: 1000px;
    }

    .cardtxt{
        margin: 50px;
        margin-right: 100px;
    }
    
    .stats{
        flex-direction: row;
        justify-content: space-between;
        align-content: flex-end;
    }

    p{
        margin-bottom: 20px;
    }
    
    .img-mobile{
        display: none;  
    }
    
    .img-desktop{
        display:inline;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 100%;
        width: 500px;
    }
  }
