body{
    background: hsl(233, 47%, 7%);
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}

.attribution{ 
    font-size: 11px; 
    text-align: center;
    padding-top: 50px; 
}

.attribution a{ 
    color: hsl(228, 45%, 44%); 
}

#card{
    margin: auto;
    max-width: 1000px;
    background: hsl(244, 38%, 16%);
    
}

h2{
    color: hsl(0, 0%, 100%)
}

.statheadings{
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-size: 15px;
}

